<!-- <h1>Add Cocktail</h1>
<p>Make a special one to flap folk's tougue</p>

<%= #simple_form_for @cocktail do |f| %>
<%= #f.input :name %>
<%= #f.input :photo %>
<%= #f.input :photo_cache, as: :hidden %>
<%= #f.button :submit, 'Cocktail', class: 'btn btn-primary' %>
<% #end %>
 -->
